@{
    ViewData["Title"] = "Home Page";
}
<div>
    <ui-view></ui-view>
</div>



@section Scripts
    {
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/q.js" asp-append-version="true"></script>
    <script src="~/js/dash.js" asp-append-version="true"></script>
    <script src="~/js/setting.js" asp-append-version="true"></script>
    <script src="js/directives/datetimepicker.js" asp-append-version="true"></script>
    <script src="js/directives/echart.js" asp-append-version="true"></script>

}
