@{
    Layout = null;
}

<style>
    table.table.trace {
        margin-bottom: 0px;
    }
</style>

<div class="form-inline">
    App: <select class="form-control input-sm" 
                 ng-model="selectedAppId" 
                 ng-options="item.id as item.name for item in apps"
                 >
    </select>
    Level: 
         <select class="form-control input-sm"
                 ng-model="logLevel">
             <option value="">all</option>
             <option value="Trace">Trace</option>
             <option value="Debug">Debug</option>
             <option value="Info">Info</option>
             <option value="Warn">Warn</option>
             <option value="Error">Error</option>
             <option value="Fatal">Fatal</option>
         </select>
    Date:
    <input type="text" class="form-control input-sm" datetimepicker ng-model="startDate" view-mode="month">
    -
    <input type="text" class="form-control input-sm" datetimepicker ng-model="endDate" view-mode="month">
    <button type="button" class="btn btn-primary btn-sm" ng-click="getPageTrace(1)">query</button>
</div>
<p></p>
<table class="table table-bordered table-condensed table-responsive table-striped trace">
    <tr>
        <th>App</th>
        <th>Time</th>
        <th>Level</th>
        <th>Topic</th>
        <th>Message</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="row in rows">
        <td ng-bind="findApp(row.appId).name"></td>
        <td ng-bind="row.time|date:'yyyy-MM-dd HH:mm:ss'"></td>
        <td ng-bind="row.level"></td>
        <td ng-bind="row.topic"></td>
        <td ng-bind="row.message"></td>
        <td>
            <button class="btn btn-primary btn-xs" ng-click="showTraceDetail(row)">detail</button>
        </td>
    </tr>

</table>

<pagebar page-info='pageInfo' on-change='getPageTrace'></pagebar>

<div class="modal fade" tabindex="-1" role="dialog" id="popTraceDetail">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label>id: </label>{{selectRow.id}}
                </div>
                <div class="form-inline">
                    <label>time: </label>{{selectRow.time|date:'yyyy-MM-dd HH:mm:ss'}}
                </div>
                <div class="form-inline">
                    <label>topic: </label>{{selectRow.topic}}
                </div>
                <div class="form-inline">
                    <label>level: </label>{{selectRow.level}}
                </div>
                <div class="form-inline">
                    <label>message: </label>{{selectRow.message}}
                </div>
                <div class="form-inline">
                    <label>stacktrace: </label>{{selectRow.stacktrace}}
                </div>
            </div>
        </div>
    </div>
</div>