<ul class="nav nav-sidebar">
    <li ui-sref-active="active"><a ui-sref="dash">Dashbroad</a></li>
    <li ui-sref-active="active"><a ui-sref="query">Query</a></li>
    <li ui-sref-active="active"><a ui-sref="setting">Setting</a></li>

</ul>